
html{
  box-sizing: border-box;
  line-height: 1.15; 
  -webkit-text-size-adjust: 100%; 
}
html *, html *::after,html *::before{
    box-sizing: inherit;
    margin: 0;
}

body{
    font:100%/1.6 helvetica;
}
main {
  display: block;
}

hr {
  box-sizing: content-box; 
  height: 0; 
  overflow: visible; 
}
pre {
  font-family: monospace, monospace; 
  font-size: 1em; 
}
a {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
abbr[title] {
  border-bottom: none; 
  text-decoration: underline; 
  text-decoration: underline dotted; 
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace; 
  font-size: 1em; 
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}


img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-size: 100%; 
  line-height: 1.15; 
  margin: 0; 
}
button,
input { 
  overflow: visible;
}
button,
select { 
  text-transform: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

legend {
  box-sizing: border-box; 
  color: inherit; 
  display: table; 
  max-width: 100%; 
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; 
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {

  outline-offset: -2px; 
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; 
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}



figure,ul{
  margin: 0;
  padding: 0;
}
ul{
  list-style-type: none;
}


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;

  margin: 0;
}

#root{
  width: 100%;
}

#root>div{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 70px;
}


/* ---------------------------------NAVBAR---------------------------------- */

.Navbar{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: 100vw;
  height: 55px;
  left: 0;
  background-color: rgb(125 85 26 / 80%);
  position: fixed;
  top: 0px;
  padding-top: 11px;
  z-index: 10;
  align-items: flex-start;
  

}
.navbar-title{
  display: flex;
  align-items: center;
  justify-content: center;
  height: max-content;
  font-size: 22px;
  margin: 0;
  font-weight: 900;
  letter-spacing: 1px;
    text-shadow: 1px 2px 4px #31313180, 0px 0px 2px #0000009f, 0px 0px 3px #000000a8, 1px 2px 4px #626262b2;

  color: #fff;
  

}



#menu-toggle{
  display: block;
  position: fixed;
  top: 20px;
  right: 16px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}




#navbar-check{
 display: block;
  width: 45px;
  height: 40px;
  position: absolute;
  top: -10px;
  right: -6px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;

}


#menu-toggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #fff;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menu-toggle span:first-child
{
  transform-origin: 0% 0%;
}

#menu-toggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
  margin-bottom: 0;

}


#navbar-check:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #fff;
}


#navbar-check:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


#navbar-check:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}
#navbar-check:focus,
#navbar-check:checked,
#navbar-check:checked::after,
#navbar-check:visited,
#navbar-check:focus-visible,
#navbar-check:focus-within{
  outline: none;
  border-width: 0px;
  box-shadow: none;
  text-shadow: none;
  border-style: none;
  background-color: #ffffff00;
   outline: none;
  -webkit-tap-highlight-color: transparent; 
}




.navbar-toggle-menu{
  display: flex;
  flex-direction: column;
  position: absolute;
  right: -17px;
  top: 35px;
  position: absolute;
  width: 250px;
  max-height: 80vh;
  overflow-y: auto;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

}


#menu li label
{
  cursor: pointer;
}


#navbar-check:checked ~ ul
{
  transform: none;
}





.navbar-toggle-menu-item{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  z-index: 2;

  background-color: rgb(125 85 26 / 80%);
  border-top: 1px solid rgba(219, 158, 25, 0.884);

}
.navbar-toggle-menu-item-anchor{
  text-decoration: none;
  color: #fff;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 1px 2px 4px #313131, 0px 0px 2px #000, 0px 0px 3px #000, 1px 2px 4px #626262;
  font-size: 18px;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;


}

.navbar-toggle-menu-item-anchor-label{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* -------------------------END-OF-NavBar------------------------------------------- */


.page{
  padding: 20px 10px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.page-title{
    font-size: 1.5em;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin: 0;
    width: 100%;
}

.index-about{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  width: 100%;

}

.index-links{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.index-links-item{

  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 300px;
  margin-bottom: 15px;

}
.index-links-item-anchor{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: #fff;
  font-weight: 900;
  letter-spacing: 1px;
  font-size: 17px;
  border-radius: 15px;
  box-shadow: inset -1px 1px 2px 0px #fff;
  border: 1px solid rgba(255, 0, 0, 0.616);

  background-color: #054141;
}






/* ---------------------------INDEX-PAGE------------------------- */

.catalog-page{
  background-color: #000;
    width: 100%;
    flex-direction: column;
    padding: 0 10px;
  

}
.catalog-page .figure-card{
  width: 100%;
  flex-direction: column;
  margin-bottom: 40px;
  
}
.catalog-page .figure-card img{
  max-width: calc(100% - 40px);
  margin: 0 auto;
}
.catalog-page .figure-card figcaption{
  max-width: 100%;
    margin: 15px 30px 10px;
    color: #fff;
  font-size: 15px;
}

.catalog-page-title{
  color: #fff ;
}